<!DOCTYPE html>
<html>

<head>
  <meta name="" content="width=device-width, initial-scale=1">
  <title>My Ether Wallet</title>
  <link rel="stylesheet" href="index.css">
  <script type="text/javascript" src="index.js"></script>
</head>

<body>

  <h2> Ether Wallet</h2>
   
  <form action="/submit" method="post">
    <div class="imgcontainer">
      <img src="img_avatar1.jpg" alt="Avatar" class="avatar">
    </div>

    <div class="container">
      
      <label for="privateKey" ><b>Private key</b></label>
      <input type="text" placeholder="Enter your private key" name="privateKey" value="43D57D2EEAC30F7F172042747F79830356AFDFAD43D22BEF5C1C1BA5239C9ED0" >
      <h3 class="orheader">Or</h3>
      <label for="seed"><b>Seed phase</b></label>
      <input type="text" placeholder="Enter your seed phase" name="seed">

      <div class="dropdown">
      <button class="dropbtn">Provider</button>
       <select class="dropdown-content" name="provider">
        <option value="homestead">Homestead</option>
        <option value="rinkeby">Rinkeby</option>
        <option value="ropsten">Ropsten</option>
        <option value="kovan">Kovan</option> 
        <option value="goerli">Goerli</option>
       </select>
       </div>
      <button type="submit" onclick="msgboxfunc()">Access</button>
      </form>
      <label>
        <input type="checkbox" checked="checked" name="remember"> Remember my credentials
      </label>
    </div>
    
    <div class="alert" id="msgbox1" hidden>
         <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
               Please enter valid private key or seed phase
      </div>

    <form action="/random" method="post">
    <div class="container" style="background-color:#f1f1f1">
      <button type="submit" class="cancelbtn">Dont have a wallet? Create new a wallet</button>
    </div>
    </form>    

</body>

</html>