body{
  margin: 20px;
  padding: 0;
  background:#333;
}

.containerr{
  margin: auto;
  border: #fff solid 3px;
  background: #fff;
  
}

.main-imgg img,
.imgss img {
 width: 100%;
}

.imgss {
 display: grid;
 grid-template-columns: repeat(4, 1fr);
 grid-gap: 5px;
 margin-top: 3px;;
}

@keyframes fadeIn {
    to{
        opacity: 1;
    }
}

.fade-in {
    opacity: 0;
    animation: fadeIn 0.5s ease-in 1 forwards;
}

h3, h4{
  color: white;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
input{
  max-width: 300px;
}
.btn-w{
  width: 300px;
}

.container {
  position: relative;
  width: 50%;
}

.img-profile{
  display: block;
  width: 350px;
  height: auto;
}

.slide {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 100%;
  background-color: #333;
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: .5s ease;
}

.container2:hover .slide {
  width: 100%;
  left: 0;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  white-space: nowrap;
}
