<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>About</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
      integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <link rel="stylesheet" href="mycss.css">
</head>

<body>
  <div class="container-fluid">
  <div class="row">
    <div class="col-md-5 container2">
      
      <div class="slide">
        <div class="text">View Porfile</div>
        
      </div>
      <h1>About Page</h1>
      <br>
      <h3 id="user-name">Name: Pratik Patil</h3>
      <h4 id="email">Student Id: 101284280</h4>
      <h4 id="client">Age: 21</h4>
      <h4 id="client">Country: India</h4>
      <br>
      <h3 id="user-name">Name: Andres Ponton</h3>
      <h4 id="email">Student Id: 101216141</h4>
      <h4 id="client">Age: 34</h4>
      <h4 id="client">Country: Ecuador</h4>
      <br>
      <h3 id="user-name">Name: Andres Ponton</h3>
      <h4 id="email">Student Id: 101282922</h4>
      <h4 id="client">Age: 39</h4>
      <h4 id="client">Country: Mexico</h4>


    </div>
    
    <div class="col-md-7">
  <div class="containerr">
    <div class="main-imgg">
      <img src="img/group-image.jpeg" id="current">
    </div>

  
    
  </div>
  
  </div>
  </div>
  </div>
</body>
</html>